{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="container">
    {{#each main}}
    <main>
        <section>
            <h2 class="mb-4">{{title}}</h2>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{text}}</p>
                </div>
            </div>
        </section>
    </main>
    {{/each}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}