<div class="container d-flex justify-content-between">
    {{#with header}}
    <h1 class="display-4">{{name.firstname}} {{name.lastname}}</h1>
    <h1 class="display-4">{{../resume.title}}</h1>
    {{/with}}
</div>