<a href='{{href}}{{link}}' {{#if blank}} target='_blank' {{/if}} {{#if noLine}}class="text-decoration-none"
    {{/if}}>{{text}}</a>

{{#unless noLine}}
{{#if line}}
---
{{else}}
/
{{/if}}
{{/unless}}