<a href='{{href}}' {{#if blank}} target='_blank' {{/if}} {{#if noLine}}class="text-decoration-none" {{/if}}>{{text}}
    {{name}}</a>

{{#unless noLine}}
{{#if line}}
---
{{else}}
/
{{/if}}
{{/unless}}